.form-div{
    margin-top: 3px;
}

.margin-top{
    margin-top: 5px;
}

.typeahead{
    display: block;
}

.table{
    margin-top: 15px;
}

td{
    text-align: center;
}

.margin-left{
    margin-left: 5px;
}